<div  id="myCarousel" class="carousel slide margintopbottom" data-ride="carousel">
  <div class="carousel-inner">
    <% @slides.each do |slide| %>
      <div class="item active">
        <%= show_image(slide) %>
      </div>
    <% end %>
  </div>
  <%= link_to "#myCarousel", class: "left carousel-control", "data-slide" => "prev" do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only"><%= t(".previous") %></span>
  <% end %>
  <%= link_to "#myCarousel", class: "right carousel-control", "data-slide" => "next" do %>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only"><%= t(".next") %></span>
  <% end %>
</div>
