<%= provide(:title, t(".title_home")) %>
<%= render "slider" %>
<div class="row">
  <div class="col-sm-3">
    <ul class="list-group">
      <h3 class="text-center"><%= t(".category_tour") %></h3>
      <% @category_tours.each do |category| %>
        <%= link_to category.name, root_path(id_category: category.id), class: "list-group-item" %>
      <% end %>
    </ul>
    <div id="search">
      <%= render "shared/search" %>
    </div>
    <ul class="list-group">
      <h3 class="text-center"><%= t(".category_post") %></h3>
      <% @category_posts.each do |category| %>
        <%= link_to category.name, root_path(id_category: category.id), class: "list-group-item" %>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <h3 class="text-center"><%= t(".tour_newest") %></h3>
      <%= render "shared/tours" %>
    </div>
    <div class="row">
        <h3 class="text-center"><%= t(".post_newest") %></h3>
        <%= render "shared/posts" %>
      </div>
  </div>
</div>
