<%= form_for @tour, html: {multipart: true }, url: yield(:url_action) do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label t(".title") %>
  <%= f.text_field :title, class: "form-control", required: true %>

  <%= f.label t(".description") %>
  <%= f.text_area :description, class: "form-control", required: true %>

  <%= f.label t(".address_source") %>
  <%= f.select :address_source, options_for_select(load_address, check_address_present(@tour)), {}, { :class => "form-control chosen-select", :required => true } %>
  
  <%= f.label t(".price") %>
  <%= f.number_field :price, class: "form-control", required: true %>

  <%= f.label t(".discount") %>
  <%= f.number_field :discount, step: Settings.step_price, class: "form-control", required: true %>

  <%= f.label t(".total_day") %>
  <%= f.text_field :total_day, class: "form-control", required: true %>

  <%= f.label t(".total_member_max") %>
  <%= f.text_field :total_member_max, class: "form-control", required: true %>
  
  <%= f.fields_for :images do |p| %>
     <div class="field">
       <%= p.label t(".image") %><br>
       <%= p.file_field :image_link, :multiple => true, name: "images[image_link][]" %>
     </div>
   <% end %>  

  <%= f.label t(".content") %>
  <%= f.text_area :content, rows: Settings.row_default, cols: Settings.col_default, class: "wysihtml5" %> 

  <%= f.label t(".category") %>
  <%= f.select :category_id, options_for_select(load_categories, @tour.category_id), {}, { class: "form-control", required: true } %>

  <%= f.submit yield(:button_title), class: "form-control btn btn-primary" %>
<% end %>
<script type="text/javascript">
  
</script>
