<% provide :title, t(".tour_title") %>
<h1><%= t(".tour_title") %></h1>
<%= link_to t(".create"), new_admin_tour_path, {class: "btn btn-primary"} %>
<br>

<div class="form-search">
  <%= search_form_for(@q, url: admin_tours_path) do |f| %>
    <%= f.search_field :tour_cont, class: "form-control" %>
    <%= f.submit t(".search"), class: "btn btn-search" %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :title, t(".title"), default_order: :asc) %></th>
      <th><%= t(".category_name") %></th>
      <th><%= t(".address_source") %></th>
      <th><%= t(".price") %></th>
      <th><%= t(".price_discount") %></th>
      <th><%= t(".total_day") %></th>
      <th><%= t(".total_member_max") %></th>
      <th><%= t(".total_member_current") %></th>
      <th><%= t(".rating_average") %></th>
      <th><%= t(".action") %></th>
    </tr>
  </thead>
  <tbody id="tour_body">
    <% if @tours.empty? %>
      <tr>
        <td>
          <%= t(".empty") %>
        </td>
      </tr>
    <% else %>
      <%= render @tours %>
    <% end  %>
  </tbody>
</table>
<div id="paginate_tour">
  <%= will_paginate %>
</div>
