<% provide :title, t(".tour_title") %>
<h1><%= t(".tour_title") %></h1>
<%= link_to t(".create"), new_admin_tour_path, {class: "btn btn-primary"} %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".category_name") %></th>
      <th><%= t(".address_source") %></th>
      <th><%= t(".price") %></th>
      <th><%= t(".price_discount") %></th>
      <th><%= t(".total_day") %></th>
      <th><%= t(".total_member_max") %></th>
      <th><%= t(".total_member_current") %></th>
      <th><%= t(".rating_average") %></th>
      <th><%= t(".action") %></th>
    </tr>
  </thead>
  <tbody id="tour_body">
    <% if check_empty(@tours) %>
      <%= render @tours %>
    <% else %>
      <tr>
        <td>
          <%= t(".empty") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="paginate_tour">
  <%= will_paginate %>
</div>
