<%= form_tag(root_path, method: :post) do %>
  <%= label_tag t(".price_from") %>
  <%= range_field_tag :price_from, "", value: 0, class: "form-control", in: 0..10000000, step: 100000 %>

  <br>s
  <div id="price_val_from"></div>
  <br>

  <%= label_tag t(".price_to") %>
  <%= range_field_tag :price_to, "", class: "form-control", value: 10000000, in: 0..10000000, step: 100000 %>
  
  <br>
  <div id="price_val_to"></div>
  <br>

  <%= text_field_tag :name, "", class: "form-control" %>
  <%= submit_tag t(".search"), class: "btn btn-primary center" %>
<% end %>
