<% @tours.each do |tour| %>
  <div class="card col-sm-4">
      <%= show_image_tour(tour) %>
      <div class="card-body">
        <h4 class="card-title text-center color-red"><%= tour.title %></h4>
        <p class="card-text">
          <% if tour.discount < 0  %>
            <i ><%= tour.price_discount %></i>
          <% else %>
            <del><%= tour.price %></del>
            <br>
            <span class="color-red"><%= tour.price_discount %></span>
          <% end %>
        </p>
      <p class="card-text"><%= tour.description %></p>
    </div>
  </div>
<% end %>
