<div class="row">
  <div class="col-sm-6">
    <%= render "shared/slider_tour" %>
  </div>
  <div class="col-sm-6 center_mid">
    <div class="row text-center">
      <h2 class="color-red"><%= @tour.title %></h2>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <%= t(".start_day") %>
      </div>
      <div class="col-sm-6">
        <%= @tour_detail_current.day_start %>
        <%= social_share_button_tag(t(".share_on_facebook"), url: tour_booking_url(@tour, tour_detail_id: @tour_detail_current.id),
          desc: @tour.title, class: "btn btn-facebook btn-lg") %>
        <%= link_to t(".select_day"), tour_path(id: @tour.id), class: "btn btn-primary" %>
        <% if current_user %>
          <%= link_to t(".booking"), booking_path(id: @tour.id, tour_detail_id: @tour_detail_current.id), class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-3">
          <%= t(".total_day") %>
        </div>
        <div class="col-sm-3">
          <%= @tour.total_day %>
        </div>
      </div>
  
    <div class="row">
      <div class="col-sm-3">
        <%= t(".source_address") %>
      </div>
      <div class="col-sm-3">
        <%= @tour.address_source %>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-3">
        <%= t(".price") %>
      </div>
      <div class="col-sm-3">
        <%= number_to_currency(@tour.price) %>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-3">
        <%= t(".price_discount") %>
        <%= t(".total_booking") %>
      </div>
      <div class="col-sm-3">
        <%= number_to_currency(@tour.price_discount) %>
        <p><span><%= @tour_detail_current.total_current_booking %></span>/<span class="color-red"><%= @tour_detail_current.total_booking %></span></p>
      </div>
    </div>
  </div>
</div>
<div class="row container-fluid">
  <h3 class="text-center"><%= t(".tour_guide") %></h3>
  <%= @tour.content.html_safe %>
</div>
<%= render "shared/comments_plugin" %>
<div class="fb-comments" data-href="https://localhost:3000/" data-width="" data-numposts=""></div>
