<tr>
  <td><%= show_image(category) %></td>
  <td><%= category.name %></td>
  <td><%= category.type_post %></td>
  <td class="row">
    <%= link_to t(".delete"), admin_category_path(category), method: :delete, 
      data: { confirm: t(".cofirm_delete") }, class: "btn btn-primary" %>
    <%= link_to t(".edit"), edit_admin_category_path(category),
          {:class => "btn btn-primary", "data-toggle" => "modal",
          "data-target" => "#myModal", :remote => true } %>
  </td>
</tr>
