<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <%= link_to t(".nameapp"), root_path, id: "logo" %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <% if logged_in? %>
            <div class="dropdown">
              <%= link_to "#", class:"btn btn-primary dropdown-toggle", "data-toggle" => "dropdown" do %>
                <%= current_user.fullname %><span class="caret"> </span>
              <% end %>

              <ul class="dropdown-menu">
                <li><%= link_to t(".change_password"), changepassword_path %></li>
                <li><%= link_to t(".userbooking"), userbooking_path %></li>
                <li><%= link_to t(".change_information"), information_path %></li>
              </ul>
            </div>
          <% else %>
            <div class="col-sm-4">
              <%= link_to t(".login"), login_path, class: "btn btn-primary" %>
            </div>
            <div class="col-sm-4">
              <%= link_to t(".signup"), signup_path, class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </ul>
    </nav>
  </div>
</header>
